body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.topo {
    height: 30px;
    background-color: #333;
}
.topoInt {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topoLeft {
    width: 50%;
    height: 30px;
    float: left;
}
.topoRight {
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;

}

.topoLeft ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.topoLeft li {
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
    float: left;
}
.topoLeft li a {
    text-decoration: none;
    color: #fff;
}
.topoLeft li .ativo {
    color: blue;
}
.topoRight a {
    float: right;
    margin-left: 2px;
}
.topobusca {
    width: 110px;
    height: 22px;
    outline: 0;
}
.topoRight input {
    float: right;
    margin-left: 2px;
}
.logo {
    height: 95px;
   background-color: #fff;
}
.logoInt {
    width: 100%;
    max-width: 1040px;
    height: 90px;
    margin: auto;
}
.imgLogo {
    width: 230px;
    height: 95px;
    float: left;
    margin-top: 5px;
}
.logo .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: blue;
}
.menu {
    height: 40px;
    background-color:#ff0000;
}
.menuInt {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menuInt ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li:hover .submenu {
    display: block;
}
.menuInt li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu a {
    color: #fff;
    text-decoration: none;

}
.submenu {
    width: 150px;
    background-color: #ff0000;
    position: absolute;
    display: none;
}
.submenu ul {
    width: 140px;
    list-style: none;
    text-align: left;

}
.submenu li {
    width: 150px;
    line-height: 30px;
    padding-left: 20px;
}
.submenu li:hover {
    background-color: #ff5555;
    width: 122px;
}
.ultimasNoticias {
    height: 40px;
}
.ultimasNoticiasInt {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.noticiasArea{
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.tituloNoticia {
    background-color: #ff0000;
    color: #fff;
    height: 28px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
}
.ultiNoticia {
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 8px;
}
.containerInt {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    background-color: #999;
}
.leftside {
    float: left;
    width: 753px;
    
}
.slideShow {
    width: 753px;
    max-width: 1040px;
    height: 340px;
    float: left;
    background-color: blanchedalmond;
    margin-bottom: 20px;
}
.noticiasInt {
    float: left;
    width: 753px;
    max-width: 1040px;
}
.noticiasTitulo {
    height: 30px;
    border-bottom: 1px solid #ccc;
    background-color: #ddd;
    line-height: 30px;
    padding-left: 5px;
    font-size: 14px;
}
.noticiasConteudo {
    width: 753px;
    max-width: 1040;
}
.noticiaPrincipal {
    width: 400px;
    min-height: 200px;
    float: left;
    background-color: blue;
}
.outrasNoticia {
    width: 300px;
    min-height: 200px;
    float: right;
}
.noticia1 {
    border-bottom: 1px solid #ccc;
    background-color: #ddd;
    padding-left: 5px;
    font-size: 14px;
}
.noticia2 {
    border-bottom: 1px solid #ccc;
    background-color: #ddd;
    padding-left: 5px;
    font-size: 14px;
}
.noticia3 {
    border-bottom: 1px solid #ccc;
    background-color: #ddd;
    padding-left: 5px;
    font-size: 14px;
}
.rightside {
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
    
}
.widget {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.widgetTitulo {
    height: 30px;
    border-bottom: 1px solid #ccc;
    background-color: #ddd;
    line-height: 30px;
    padding-left: 5px;
    font-size: 14px;
}
.widgetConteudo {
    text-align: center;
}
.widgetConteudoImg {
    width: 275px;
    height: 275px;
    text-align: center;
}
